@import url('https://fonts.googleapis.com/css2?family=Sen&family=Sue+Ellen+Francisco&display=swap');
* {
box-sizing: border-box;
}
h1 {
    text-align: center;
}
.logo{
    width: 35%;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums {
    width: calc(100% - 2.25rem);
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1.5rem;
    padding: 3rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Sen', cursive;
}

article {
    width: 75%;
    height: 4rem;
    padding: 1 1.5rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    line-height: 4rem;
    transition: all 100ms ease-out;

}

/******** Galleries    *********/
.galleries {
    display: grid;
    width: calc(100% - 2.25rem);
    max-width: 900px;
    margin: auto;
    grid-gap: 2rem;
   
}
/*
.pic {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    width: 100%;
}

.slides {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: calc(100% - 1rem);
    grid-gap: 2rem;
    margin: 0;
    transition: all 200ms ease-out;

}
*/
.slides2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: calc(100% - 1rem);
    grid-gap: 2rem;
    margin: 0; 
}

.slides3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: calc(100% - 1rem);
    grid-gap: 2rem;
    margin: 0; 
}

figcaption {
    font-family: 'Sen', cursive;
    margin: 1rem;
}

.current {
    transition: opacity .5s ease-out;
}


.nxt {
    float: right;
}

.changeSize {
    min-width: 175px;
    height: 175px;
    transform: scale(1.1);
  }
