@import url('https://fonts.googleapis.com/css2?family=Sen&family=Sue+Ellen+Francisco&display=swap');
* {
box-sizing: border-box;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}
.logo{
    width: 35%;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums {
    width: calc(100% - 2.25rem);
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    padding: 3rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Sen', cursive;
}

article {
    width: 75%;
    height: 4rem;
    padding: 1 1.5rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    line-height: 4rem;
    transition: all .5s ease-out;

}
article:hover {
    background-color: #731A1A;
    color:#f2f2f2;
}

  /******** Galleries    *********/


.hide {
    display: none;
  }
  
figcaption {
    font-family: 'Sen', cursive;
    margin: 1rem;
}

.current {
    transition: opacity .5s ease-out;
}

.changeSize {
    min-width: 175px;
    height: 175px;
    transform: scale(1.1);
  }
